@import url('https://fonts.googleapis.com/css2?family=Fresca&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  margin: auto;
  background-color:rgb(255, 228, 242);
  font-family: 'Fresca', sans-serif;
  padding-bottom: 80px;
}

.navbar {
  position: fixed;
  left: 0;
  top : 0;
  height: 100vh;
  width: 80px;
  background-color: rgb(255, 172, 213);
  padding: 0;
  box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.219)

}

.navbar #mobile-title{display: none;}

.navbar #avatar {
  width:60px;
  border-radius: 50%;
  margin: 11%;

}

.center {
  text-align:center;
  margin-left : 80px;
}

.container {
  display: inline;
  padding-left: 0;

}

.container li{
  display: inline-block;
  padding:10px
  
}

.center h1{
  padding-left: 30px;
  text-align: left;
  font-size: 200%;
  text-shadow: 0 0 19px rgba(0, 0, 0, 0.220);

}

.card, .card-friend{
  width: 300px;
  height: 300px;
  padding:0;margin: 0;

  overflow: hidden;
  font-size: 20px;
  border-radius: 10px;
  background-color: rgb(255, 250, 250);
  box-shadow: 0 4px 19px 0 rgba(0, 0, 0, 0.220);

}

.card a ,  .card-friend a{
  text-decoration: none;
  color: rgb(0, 0, 0)

}

.card img , .card-friend img{
  margin-top: 10px;
  border-radius: 50%;
  width: 100px;
  height: 100px;

}

.card-friend img {
  margin-top: 25%;
}

@media (max-width: 500px){
  body {
    padding-bottom: 130px;
  }

  .navbar{
    position: fixed;
    top: unset;
    bottom: 0;
    height: 80px;
    width: 100%;
    text-align: center;

  }

  .navbar #mobile-title{
    display: inline;
    position: absolute;
    font-size: 25px;
    color: black;
    
    left:0;
    right:0;
  }

  .navbar a {
    position:absolute;
    width:60px;
    border-radius: 50%;
    left: 8px;
    bottom: -2px;
  
  }

  .center{
    margin-left: 0;
  }

  .center h1{margin-left: 0;padding-left:15px}

  .card{
    width: 30vw;min-width: 97.6px;
    height: 30vw;min-height: 97.6px;

  }

  .card img {
    margin-top: 10px;
    border-radius: 50%;
    width: 100px;
    height: 100px;

  }

  .card-friend{
    width: 30vw;min-width: 97.6px;
    height: 30vw;min-height: 97.6px;
  }

  .container li{padding: 2px;}

  .card-friend img {
    margin-top: 13%;
    width: 50%;
    height: 50%;
  }

  .card-friend p{
    font-size: 80%;
    margin-top: 0;
  }
}
